.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--mantine-color-default-hover);
}

.mainPaper {
  height: fit-content;
  min-height: 95vmin;
  padding: var(--mantine-spacing-md);
  background-color: var(--mantine-color-default);
  border-radius: 1rem;
}

.headerGroup {
  width: fit-content;
}

.paramsGroup {
  flex-grow: 1;
  padding: var(--mantine-spacing-md);
  margin-bottom: 20px;
}

.select {
  width: fit-content;
}

.statsPaper,
.graphPaper {
  width: 100%;
  padding: 2rem;
  margin-bottom: 20px;
  background-color: var(--mantine-color-default);
}

.graphGroup {
  margin-top: 20px;
}

.chart {
  width: 100%;
}

@media (min-width: 769px) {
  .main {
    width: 100%;
  }

  .container {
    width: 83%;
    margin: var(--mantine-spacing-md);
    margin-left: 18rem;
  }

  .paramsGroup {
    width: 100%;
    justify-content: right;
  }

  .chart {
    height: 400px;
  }

  .mainPaper {
    width: 100%;
    margin: var(--mantine-spacing-md);
  }
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }

  .container {
    width: 100%;
    margin: 0;
  }

  .paramsGroup {
    width: 100%;
    justify-content: center;
  }

  .chart {
    height: 300px;
  }

  .mainPaper {
    width: 100%;
  }
}