.paper {

    width: clamp(10%, 50%, 100%);
    flex: 1;

}

.main {
    padding: var(--mantine-spacing-md);
}

.label {
    font-weight: 200;
    font-size: x-large;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    padding-bottom: 0;
}