.mainStack {}

.top_paper {
  margin: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-md);
}

.top_group {
  display: flex;
  align-items: stretch;
}

.paper {}


.top_paper,
.paper {
  background-color: var(--mantine-color-default);
  border-radius: 0;
}

@media (min-width: 769px) {
}

@media (max-width: 768px) {
  .top_paper {
    min-height: 60vh;
  }

}