.main {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  height: 100%;
  width: 100%;
}

.top_paper, .paper {
  background-color: var(--mantine-color-default);
  margin: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
}

.container {
  max-width: 85%;
  width: 85%;
  margin: var(--mantine-spacing-md);
}

.navbar_container {
  width: 15%;
  height: 100vmin;
  margin: 0%;
  z-index: 1000;
}

