.paramsPaper {
    width: 100%;
    border-radius: 0;
    justify-content: center;
}

.paramsGroup {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    padding: var(--mantine-spacing-md);
    justify-items: space-evenly;
}

.innerTextLabel {
    font-weight: 300;
}

.innerPaper {
    padding: var(--mantine-spacing-md);
    margin: 0;
}

.textLabel {
    font-weight: 300;
    text-transform: uppercase;
}

.select,
.checkbox {
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .paramsPaper {
        width: 100vw;
    }
    .paramsGroup {

        width: 100vw;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
}

@media (min-width: 769px) {
    .paramsGroup {

    }
}