.centered_header {
    font-weight: 300;
    font-size: x-large;
    text-align: center;
}

.inner_paper_stack {
    height: max-content;
}

.inner_paper {
    margin: var(--mantine-spacing-md);
    padding: var(--mantine-spacing-md);

    width: 45%;
    border-radius: var(--mantine-radius-md);
}