.rootPaper {
  border-radius: 0px;
  height: 56%;
}

.skeleton {
  height: 100%;
}

.table,
.tbody,
.scrollContainer {
  height: 100%;
}

@media (max-width: 768px) {
  .scrollContainer,
  .table,
  .tbody {
    height: 100%;
  }
}
