/* Base styles for the navbar */
.navbar,
.desktopNavbar {
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-default);
}

/* Common styles for header, links, and footer */
.header,
.links,
.footer {
  background-color: var(--mantine-color-default);
  padding: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid var(--mantine-color-default-border);
}

.footer {
  display: flex;
  flex: 1;
  margin: 0 calc(var(--mantine-spacing-md) * -1);
}

.desktopNavbar {
  width: 100%;
  margin: 0px;
  top: 0px;
  height: 95vh;
  left: 0;
}

.links {
  flex: 1;
  padding: var(--mantine-spacing-xl) 0;
}

@media (max-width: 768px) {
  .desktopNavbar {
    width: 100vw;
    height: 85vh;
  }
}