.root {
    width: 100%;
}

.mainPaper {
    border-radius: 0px;
}

.chart {
    height: 22vh;
    width: 100%;
    min-height: 100px;
    min-width: 100px;
}

.title {
    margin-bottom: 0px;
    font-weight: 700;
}

.innerGroup {
    padding: var(--mantine-spacing-md);
}