.navbar {
  border: 0px;
  padding-left: 0px;
  justify-content: space-between;
}

.navbar.opened {
  transition-duration: 500ms;
}

.navbar.closed {
  transform: translateY(calc(100% * -1));
  transition-duration: 500ms;
}

.header {
  z-index: 102;
}
