.main {
  width: 100%;
  background-color: var(--mantine-color-body);
  border-radius: 0px;
  height: 95vh;
}


.mainPaper {
  height: 100%;
  min-height: 80vh;
  background-color: var(--mantine-color-body);
  border-radius: 0px;
}